-# coding: utf-8
%h1.title #{dir}/ の一覧
%ul
  - list.each do |hash|
    %li<
      - if hash[:type] == :tree
        %a{ href: "#{hash[:name]}/" }<
          #{hash[:name]}/
      - else
        - filename = File.basename(hash[:name], ".md")
        %a{ href: "#{filename}" }<
          #{filename}
